<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase2_Lesson2_backendDeveloper</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletInitDatabaseConnection</display-name>
    <servlet-name>servletInitDatabaseConnection</servlet-name>
    <servlet-class>Phase2_Lesson2_backendDeveloper.jdbc.servletInitDatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletInitDatabaseConnection</servlet-name>
    <url-pattern>/servletInitDatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>Phase2_Lesson2_backendDeveloper.jdbc.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRDaoServlet</display-name>
    <servlet-name>CRDaoServlet</servlet-name>
    <servlet-class>Phase2_Lesson2_backendDeveloper.jdbc.CRDaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRDaoServlet</servlet-name>
    <url-pattern>/CRDaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcedureServlet</display-name>
    <servlet-name>ProcedureServlet</servlet-name>
    <servlet-class>Phase2_Lesson2_backendDeveloper.jdbc.ProcedureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcedureServlet</servlet-name>
    <url-pattern>/ProcedureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUseDropServlet</display-name>
    <servlet-name>CreateUseDropServlet</servlet-name>
    <servlet-class>Phase2_Lesson2_backendDeveloper.jdbc.CreateUseDropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUseDropServlet</servlet-name>
    <url-pattern>/CreateUseDropServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertUpdateDeleteServlet</servlet-name>
    <servlet-class>Phase2_Lesson2_backendDeveloper.jdbc.InsertUpdateDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUpdateDeleteServlet</servlet-name>
    <url-pattern>/InsertUpdateDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_Id_Servlet</display-name>
    <servlet-name>Product_Id_Servlet</servlet-name>
    <servlet-class>Phase2_Lesson2_backendDeveloper.jdbc.Product_Id_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_Id_Servlet</servlet-name>
    <url-pattern>/Product_Id_Servlet</url-pattern>
  </servlet-mapping>
</web-app>