<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>phase2_lesson3_backendDeveloper</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitHibernateServlet</display-name>
    <servlet-name>InitHibernateServlet</servlet-name>
    <servlet-class>phase2_lesson3_backendDeveloper.hibernate.servlets.InitHibernateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernateServlet</servlet-name>
    <url-pattern>/InitHibernateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListContentServlet</display-name>
    <servlet-name>ListContentServlet</servlet-name>
    <servlet-class>phase2_lesson3_backendDeveloper.hibernate.servlets.ListContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListContentServlet</servlet-name>
    <url-pattern>/ListContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistentClassServlet</display-name>
    <servlet-name>PersistentClassServlet</servlet-name>
    <servlet-class>phase2_lesson3_backendDeveloper.hibernate.servlets.PersistentClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistentClassServlet</servlet-name>
    <url-pattern>/PersistentClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>phase2_lesson3_backendDeveloper.hibernate.servlets.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentMapping_ProductDetailsServlet</display-name>
    <servlet-name>ComponentMapping_ProductDetailsServlet</servlet-name>
    <servlet-class>phase2_lesson3_backendDeveloper.hibernate.servlets.ComponentMapping_ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentMapping_ProductDetailsServlet</servlet-name>
    <url-pattern>/ComponentMapping_ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductDetailsServlet</display-name>
    <servlet-name>AddProductDetailsServlet</servlet-name>
    <servlet-class>phase2_lesson3_backendDeveloper.hibernate.servlets.AddProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductDetailsServlet</servlet-name>
    <url-pattern>/AddProductDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>