<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>phase2_second_veresion_final_assessment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListTable</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.ListTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTable</servlet-name>
    <url-pattern>/ListTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecord</display-name>
    <servlet-name>AddRecord</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecord</servlet-name>
    <url-pattern>/AddRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecord_Insert</display-name>
    <servlet-name>AddRecord_Insert</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddRecord_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecord_Insert</servlet-name>
    <url-pattern>/AddRecord_Insert</url-pattern>
  </servlet-mapping>
</web-app>