<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>phase2_second_veresion_final_assessment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListTable</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.ListTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTable</servlet-name>
    <url-pattern>/ListTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecord</display-name>
    <servlet-name>AddRecord</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecord</servlet-name>
    <url-pattern>/AddRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecord_Insert</display-name>
    <servlet-name>AddRecord_Insert</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddRecord_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecord_Insert</servlet-name>
    <url-pattern>/AddRecord_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuClTeSt</display-name>
    <servlet-name>SuClTeSt</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.Classes_SuClTeSt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuClTeSt</servlet-name>
    <url-pattern>/Classes_SuClTeSt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherMasterList</display-name>
    <servlet-name>TeacherMasterList</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.TeacherMasterList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherMasterList</servlet-name>
    <url-pattern>/TeacherMasterList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectMasterList</display-name>
    <servlet-name>SubjectMasterList</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.SubjectMasterList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectMasterList</servlet-name>
    <url-pattern>/SubjectMasterList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesMasterList</display-name>
    <servlet-name>ClassesMasterList</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.ClassesMasterList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesMasterList</servlet-name>
    <url-pattern>/ClassesMasterList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentMasterList</display-name>
    <servlet-name>StudentMasterList</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.StudentMasterList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMasterList</servlet-name>
    <url-pattern>/StudentMasterList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentClasses</display-name>
    <servlet-name>AddStudentClasses</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddStudentClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentClasses</servlet-name>
    <url-pattern>/AddStudentClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectClasses</display-name>
    <servlet-name>AddSubjectClasses</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddSubjectClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectClasses</servlet-name>
    <url-pattern>/AddSubjectClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherClasses</display-name>
    <servlet-name>AddTeacherClasses</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddTeacherClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherClasses</servlet-name>
    <url-pattern>/AddTeacherClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentClass</display-name>
    <servlet-name>AddStudentClass</servlet-name>
    <servlet-class>phase2_second_veresion_final_assessment.servlet.AddStudentClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentClass</servlet-name>
    <url-pattern>/AddStudentClass</url-pattern>
  </servlet-mapping>
</web-app>