<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>simpliLearn_back-end_expert</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>context_param</param-name>
    <param-value>This is the value of the context-param available throughout the application</param-value>
  </context-param>
  <servlet>
    <description>Get request example</description>
    <display-name>Lesson1GetServlet</display-name>
    <servlet-name>Lesson1GetServlet</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.Lesson1GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1GetServlet</servlet-name>
    <url-pattern>/Lesson1GetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Post request example</description>
    <display-name>Lesson1PostServlet</display-name>
    <servlet-name>Lesson1PostServlet</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.Lesson1PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1PostServlet</servlet-name>
    <url-pattern>/Lesson1PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lesson1_Implement_Servlet_Interface</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.Lesson1_Implement_Servlet_Interface</servlet-class>
    <init-param>
      <param-name>servlet_interface_init-param</param-name>
      <param-value>This is the value of the init-param from web.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1_Implement_Servlet_Interface</servlet-name>
    <url-pattern>/Lesson1_Implement_Servlet_Interface</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lesson1GenericServlet</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.Lesson1GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1GenericServlet</servlet-name>
    <url-pattern>/Lesson1GenericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lesson1ServletImpl</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.Lesson1ServletImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1ServletImpl</servlet-name>
    <url-pattern>/Lesson1ServletImpl</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Lesson1FilterServlet</display-name>
    <filter-name>Lesson1FilterServlet</filter-name>
    <filter-class>dynamic_webpages_using_servlet.Lesson1FilterServlet</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Lesson1FilterServlet</filter-name>
    <servlet-name>Lesson1ServletImpl</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1SessionTrackingWithCookies</display-name>
    <servlet-name>Lesson1SessionTrackingWithCookies</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.session_tracking.Lesson1SessionTrackingWithCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1SessionTrackingWithCookies</servlet-name>
    <url-pattern>/Lesson1SessionTrackingWithCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1SessionTrackingNoCookies</display-name>
    <servlet-name>Lesson1SessionTrackingNoCookies</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.session_tracking.Lesson1SessionTrackingNoCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1SessionTrackingNoCookies</servlet-name>
    <url-pattern>/Lesson1SessionTrackingNoCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1UserLogout</display-name>
    <servlet-name>Lesson1UserLogout</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.logout_example.Lesson1UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1UserLogout</servlet-name>
    <url-pattern>/Lesson1UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1withUrlRewriting</display-name>
    <servlet-name>Lesson1withUrlRewriting</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.session_tracking.Lesson1withUrlRewriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1withUrlRewriting</servlet-name>
    <url-pattern>/Lesson1withUrlRewriting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1WithoutUrlRewriting</display-name>
    <servlet-name>Lesson1WithoutUrlRewriting</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.session_tracking.Lesson1WithoutUrlRewriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1WithoutUrlRewriting</servlet-name>
    <url-pattern>/Lesson1WithoutUrlRewriting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1HiddenFormFields</display-name>
    <servlet-name>Lesson1HiddenFormFields</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.session_tracking.Lesson1HiddenFormFields</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1HiddenFormFields</servlet-name>
    <url-pattern>/Lesson1HiddenFormFields</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1SessionTrackingWithHttpSession</display-name>
    <servlet-name>Lesson1SessionTrackingWithHttpSession</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.session_tracking.Lesson1SessionTrackingWithHttpSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1SessionTrackingWithHttpSession</servlet-name>
    <url-pattern>/Lesson1SessionTrackingWithHttpSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson1SessionTrackingWithoutHttpSession</display-name>
    <servlet-name>Lesson1SessionTrackingWithoutHttpSession</servlet-name>
    <servlet-class>dynamic_webpages_using_servlet.session_tracking.Lesson1SessionTrackingWithoutHttpSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson1SessionTrackingWithoutHttpSession</servlet-name>
    <url-pattern>/Lesson1SessionTrackingWithoutHttpSession</url-pattern>
  </servlet-mapping>
</web-app>